// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as Polytomic from "../../../index";

export declare namespace IdentityClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class IdentityClient {
    protected readonly _options: NormalizedClientOptions<IdentityClient.Options>;

    constructor(options: IdentityClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns information about the authenticated caller and, if applicable, the organization they are scoped to.
     *
     * Use this endpoint to confirm which kind of credential is being used before
     * calling endpoints with stricter authorization rules.
     *
     * For user-scoped credentials, the response includes the resolved user and
     * organization details. For non-user keys, the response identifies the key class
     * with the corresponding boolean flags instead of impersonating a user.
     *
     * This endpoint is especially useful when debugging why a request is being
     * accepted or rejected by endpoints that are limited to particular caller types.
     *
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.identity.get()
     */
    public get(
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.GetIdentityResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__get(requestOptions));
    }

    private async __get(
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.GetIdentityResponseEnvelope>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/me",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.GetIdentityResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/me");
    }
}
