// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseIdempotentRequestOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as Polytomic from "../../../index";

export declare namespace OrganizationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}

    export interface IdempotentRequestOptions extends RequestOptions, BaseIdempotentRequestOptions {}
}

export class OrganizationClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OrganizationClient.Options>;

    constructor(options: OrganizationClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the organization the caller is authenticated against.
     *
     * This endpoint is the safest way to discover the effective organization for a
     * user-scoped or organization-scoped credential. It does not let callers inspect
     * arbitrary organizations; it only returns the organization implied by the
     * credential that authenticated the request.
     *
     * If you need to enumerate or look up organizations across a partner account, use
     * [`GET /api/organizations`](../../api-reference/organization/list) or
     * [`GET /api/organizations/{id}`](../../api-reference/organization/get) instead.
     *
     * @param {OrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     *
     * @example
     *     await client.organization.getCurrent()
     */
    public getCurrent(
        requestOptions?: OrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.OrganizationEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getCurrent(requestOptions));
    }

    private async __getCurrent(
        requestOptions?: OrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.OrganizationEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/organization",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.OrganizationEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/organization");
    }

    /**
     * Lists every organization accessible to the calling partner, with the partner's owner organization first.
     *
     * In `2025-09-18`, this endpoint is partner-scoped rather than a general
     * "current caller visibility" listing. The partner owner organization is returned
     * first, followed by child organizations.
     *
     * This ordering matters for partner workflows such as shared connections, where
     * the parent connection must live in the partner owner organization.
     *
     * If you need only the organization implied by the current credential, use
     * [`GET /api/organization`](../../api-reference/organization/get-current) instead.
     *
     * @param {OrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.organization.list()
     */
    public list(
        requestOptions?: OrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.OrganizationsEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: OrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.OrganizationsEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/organizations",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.OrganizationsEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/organizations");
    }

    /**
     * Creates a new organization under the calling partner account, optionally configuring SSO or OIDC at creation time.
     *
     * > 🚧 Requires partner key
     * >
     * > This endpoint is only accessible using [partner keys](../../guides/obtaining-api-keys#partner-keys).
     *
     * SSO and OIDC settings supplied at creation time can be updated later via
     * `PUT /api/organizations/{id}`.
     *
     * @param {Polytomic.CreateOrganizationRequestSchema} request
     * @param {OrganizationClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ConflictError}
     * @throws {@link Polytomic.UnprocessableEntityError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.organization.create({
     *         name: "My Organization"
     *     })
     */
    public create(
        request: Polytomic.CreateOrganizationRequestSchema,
        requestOptions?: OrganizationClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.OrganizationEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Polytomic.CreateOrganizationRequestSchema,
        requestOptions?: OrganizationClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.OrganizationEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/organizations",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.OrganizationEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 409:
                    throw new Polytomic.ConflictError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Polytomic.UnprocessableEntityError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/organizations");
    }

    /**
     * Returns a single organization by ID.
     *
     * > 📘 Credential scope varies by endpoint and API version
     * >
     * > Organization endpoints do not all share the same credential requirements.
     * > Check each endpoint's description for the caller scope that applies in that
     * > API version.
     *
     * @param {string} id - Unique identifier of the organization.
     * @param {OrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.organization.get("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public get(
        id: string,
        requestOptions?: OrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.OrganizationEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, requestOptions));
    }

    private async __get(
        id: string,
        requestOptions?: OrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.OrganizationEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/organizations/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.OrganizationEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/organizations/{id}");
    }

    /**
     * Updates an organization's name and SSO or OIDC configuration.
     *
     * > 🚧 Requires partner key
     * >
     * > This endpoint is only accessible using [partner keys](../../../guides/obtaining-api-keys#partner-keys).
     *
     * > 📘 SSO and OIDC configuration is replaced in full on each update. Include all
     * > desired settings in the request body, not just the fields you want to change.
     *
     * @param {string} id - Unique identifier of the organization to update.
     * @param {Polytomic.UpdateOrganizationRequestSchema} request
     * @param {OrganizationClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.ConflictError}
     * @throws {@link Polytomic.UnprocessableEntityError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.organization.update("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         name: "My Organization"
     *     })
     */
    public update(
        id: string,
        request: Polytomic.UpdateOrganizationRequestSchema,
        requestOptions?: OrganizationClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.OrganizationEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__update(id, request, requestOptions));
    }

    private async __update(
        id: string,
        request: Polytomic.UpdateOrganizationRequestSchema,
        requestOptions?: OrganizationClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.OrganizationEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/organizations/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.OrganizationEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Polytomic.ConflictError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Polytomic.UnprocessableEntityError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/api/organizations/{id}");
    }

    /**
     * Deletes an organization.
     *
     * Partner callers cannot delete their own owner organization.
     *
     * @param {string} id - Unique identifier of the organization.
     * @param {OrganizationClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.organization.remove("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public remove(
        id: string,
        requestOptions?: OrganizationClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__remove(id, requestOptions));
    }

    private async __remove(
        id: string,
        requestOptions?: OrganizationClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/organizations/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/organizations/{id}");
    }
}
