// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseIdempotentRequestOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import { toJson } from "../../../../core/json";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as Polytomic from "../../../index";
import { ExecutionsClient } from "../resources/executions/client/Client";
import { TargetsClient } from "../resources/targets/client/Client";

export declare namespace ModelSyncClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}

    export interface IdempotentRequestOptions extends RequestOptions, BaseIdempotentRequestOptions {}
}

export class ModelSyncClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ModelSyncClient.Options>;
    protected _targets: TargetsClient | undefined;
    protected _executions: ExecutionsClient | undefined;

    constructor(options: ModelSyncClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get targets(): TargetsClient {
        return (this._targets ??= new TargetsClient(this._options));
    }

    public get executions(): ExecutionsClient {
        return (this._executions ??= new ExecutionsClient(this._options));
    }

    /**
     * Describes the source configuration available on a connection for use as a model sync source.
     *
     * Use this endpoint before creating a model to understand what configuration is
     * available. Once you have a configuration, resolve the fields available for
     * sync mapping with
     * [`GET /api/connections/{id}/modelsync/source/fields`](../../../../../api-reference/model-sync/get-source-fields).
     *
     * @param {string} id - Unique identifier of the connection.
     * @param {Polytomic.ModelSyncGetSourceRequest} request
     * @param {ModelSyncClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.getSource("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public getSource(
        id: string,
        request: Polytomic.ModelSyncGetSourceRequest = {},
        requestOptions?: ModelSyncClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.GetSyncSourceMetaEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getSource(id, request, requestOptions));
    }

    private async __getSource(
        id: string,
        request: Polytomic.ModelSyncGetSourceRequest = {},
        requestOptions?: ModelSyncClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.GetSyncSourceMetaEnvelope>> {
        const { params } = request;
        const _queryParams: Record<string, unknown> = {
            params: params != null ? toJson(params) : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}/modelsync/source`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.GetSyncSourceMetaEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/connections/{id}/modelsync/source",
        );
    }

    /**
     * Returns the source fields available on a connection for a given source configuration.
     *
     * Pass the model's source configuration as query parameters to resolve the
     * fields that the connection will expose for that specific configuration. The
     * returned fields are what can be referenced in sync field mappings.
     *
     * > 📘 Results depend on the source configuration you supply. A different
     * > table or query in the configuration may return a completely different field
     * > list.
     *
     * The available source configuration parameters are described by
     * [`GET /api/connections/{id}/modelsync/source`](../../../../../../api-reference/model-sync/get-source).
     *
     * @param {string} id - Unique identifier of the connection.
     * @param {Polytomic.ModelSyncGetSourceFieldsRequest} request
     * @param {ModelSyncClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.getSourceFields("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public getSourceFields(
        id: string,
        request: Polytomic.ModelSyncGetSourceFieldsRequest = {},
        requestOptions?: ModelSyncClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ModelFieldResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSourceFields(id, request, requestOptions));
    }

    private async __getSourceFields(
        id: string,
        request: Polytomic.ModelSyncGetSourceFieldsRequest = {},
        requestOptions?: ModelSyncClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ModelFieldResponse>> {
        const { params } = request;
        const _queryParams: Record<string, unknown> = {
            params: params != null ? toJson(params) : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}/modelsync/source/fields`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.ModelFieldResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/connections/{id}/modelsync/source/fields",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Lists model syncs in the caller's organization.
     *
     * Results are ordered by `updated_at` descending, with `id` used as a tiebreaker.
     * If more results are available, the response includes `pagination.next_page_token`.
     * Pass that token back unchanged to continue from the last item you received.
     *
     * The token is opaque. Do not construct or edit it yourself.
     *
     * The `limit` is capped at 50. Values above that cap are reduced to 50, and
     * non-positive values fall back to the same default.
     *
     * This endpoint returns syncs visible to the current caller's organization scope.
     * To inspect a specific sync in more detail, follow up with
     * [`GET /api/syncs/{id}`](../../api-reference/model-sync/get).
     *
     * @param {Polytomic.ModelSyncListRequest} request
     * @param {ModelSyncClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.list({
     *         active: true,
     *         mode: "create",
     *         target_connection_id: "0b155265-c537-44c9-9359-a3ceb468a4da",
     *         page_token: "AmkYh8v0jR5B3kls2Qcc9y8MjrPmvR4CvaK7H0F4rEwqvg76K==",
     *         limit: 50
     *     })
     */
    public list(
        request: Polytomic.ModelSyncListRequest = {},
        requestOptions?: ModelSyncClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ListSyncResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Polytomic.ModelSyncListRequest = {},
        requestOptions?: ModelSyncClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ListSyncResponseEnvelope>> {
        const { active, mode, target_connection_id: targetConnectionId, page_token: pageToken, limit } = request;
        const _queryParams: Record<string, unknown> = {
            active,
            mode: mode != null ? mode : undefined,
            target_connection_id: targetConnectionId,
            page_token: pageToken,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/syncs",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.ListSyncResponseEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/syncs");
    }

    /**
     * Creates a new model sync.
     *
     * Create a new sync from one or more models to a destination.
     *
     * All of the functionality described in [the product
     * documentation](https://docs.polytomic.com/docs/sync-destinations) is
     * configurable via the API.
     *
     * Guides:
     *
     * - [Model sync (Reverse ETL) from Snowflake query to Salesforce](../../guides/code-examples/model-sync-reverse-etl-from-snowflake-query-to-salesforce)
     * - [Joined model sync from Postgres, Airtable, and Stripe to Hubspot](../../guides/code-examples/joined-model-sync-from-postgres-airtable-and-stripe-to-hubspot)
     *
     * ## Targets (Destinations)
     *
     * Polytomic refers to a model sync's destination as the "target object", or
     * target. Target objects are identified by a connection ID and an object ID. You
     * can retrieve a list of all target objects for a connection using the [Get Target
     * Objects](../../api-reference/model-sync/targets/list) endpoint.
     *
     * The `target` object in the request specifies information about the sync destination.
     *
     * ```json
     * "target": {
     *     "connection_id": "248df4b7-aa70-47b8-a036-33ac447e668d",
     *     "object": "Users",
     * },
     * ```
     *
     * Some connections support additional configuration for targets. For example,
     * [Salesforce
     * connections](../../guides/configuring-your-connections/connections/salesforce#target)
     * support optionally specifying the ingestion API to use. The target specific
     * options are passed as `configuration`; consult the [integration
     * guides](../../guides/configuring-your-connections/overview)
     * for details about specific connection configurations.
     *
     * ### Creating a new target
     *
     * Some integrations support creating a new target when creating a model sync. For
     * example, an ad audience or database table.
     *
     * When creating a new target, `object` is omitted and `create` is specified
     * instead. The `create` property is an object containing integration specific
     * configuration for the new target.
     *
     * ```json
     * "target": {
     *     "connection_id": "248df4b7-aa70-47b8-a036-33ac447e668d",
     *     "create": {
     *         "name": "New audience",
     *         "type": "user_audience"
     *     }
     * },
     * ```
     *
     * The [Get Target List](../../api-reference/model-sync/targets/list) endpoint returns information about whether
     * a connection supports target creation.
     *
     * @param {Polytomic.CreateSyncRequest} request
     * @param {ModelSyncClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.UnprocessableEntityError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.create({
     *         fields: [{
     *                 target: "name"
     *             }],
     *         mode: "create",
     *         name: "Users Sync",
     *         schedule: {},
     *         target: {
     *             connection_id: "248df4b7-aa70-47b8-a036-33ac447e668d"
     *         }
     *     })
     */
    public create(
        request: Polytomic.CreateSyncRequest,
        requestOptions?: ModelSyncClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.SyncResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Polytomic.CreateSyncRequest,
        requestOptions?: ModelSyncClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.SyncResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/syncs",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.SyncResponseEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Polytomic.UnprocessableEntityError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/syncs");
    }

    /**
     * Returns the schedule types available when creating or updating a model sync.
     *
     * Use the `type` identifiers returned by this endpoint in the `schedule` field
     * when creating or updating a sync via
     * [`POST /api/syncs`](../../../api-reference/model-sync/create) or [`PUT /api/syncs/{id}`](../../../api-reference/model-sync/update).
     *
     * @param {ModelSyncClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.getScheduleOptions()
     */
    public getScheduleOptions(
        requestOptions?: ModelSyncClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ScheduleOptionResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getScheduleOptions(requestOptions));
    }

    private async __getScheduleOptions(
        requestOptions?: ModelSyncClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ScheduleOptionResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/syncs/schedules",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ScheduleOptionResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/syncs/schedules");
    }

    /**
     * Returns a single model sync by ID.
     *
     * To check whether a sync is currently running or has recently completed, use
     * [`GET /api/syncs/{id}/status`](../../../api-reference/model-sync/get-status). For the full history of
     * executions, use [`GET /api/syncs/{id}/executions`](../../../api-reference/model-sync/executions/list).
     *
     * @param {string} id
     * @param {ModelSyncClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.get("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public get(
        id: string,
        requestOptions?: ModelSyncClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.SyncResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, requestOptions));
    }

    private async __get(
        id: string,
        requestOptions?: ModelSyncClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.SyncResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/syncs/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.SyncResponseEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/syncs/{id}");
    }

    /**
     * Updates a model sync's configuration.
     *
     * Updating a model sync is a **full replacement** of the sync's configuration.
     * Every field in the request body is written to the sync; any field you omit is
     * cleared or reset to its default value.
     *
     * To make a partial change — for example, toggling `active` or adjusting a
     * single field mapping — fetch the current sync with
     * [`GET /api/syncs/{id}`](../../../api-reference/model-sync/get),
     * modify the fields you want to change, and send the complete object back in
     * the update request.
     *
     * Updates to `active`, `schedule`, and `policies` take effect immediately.
     * Changes to source fields, target configuration, filters, or field mappings
     * take effect on the sync's next execution.
     *
     * @param {string} id
     * @param {Polytomic.UpdateSyncRequest} request
     * @param {ModelSyncClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.UnprocessableEntityError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.update("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         fields: [{
     *                 target: "name"
     *             }],
     *         mode: "create",
     *         name: "Users Sync",
     *         schedule: {},
     *         target: {
     *             connection_id: "248df4b7-aa70-47b8-a036-33ac447e668d"
     *         }
     *     })
     */
    public update(
        id: string,
        request: Polytomic.UpdateSyncRequest,
        requestOptions?: ModelSyncClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.SyncResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__update(id, request, requestOptions));
    }

    private async __update(
        id: string,
        request: Polytomic.UpdateSyncRequest,
        requestOptions?: ModelSyncClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.SyncResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/syncs/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.SyncResponseEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Polytomic.UnprocessableEntityError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/api/syncs/{id}");
    }

    /**
     * Deletes a model sync, cancelling any running executions.
     *
     * Deletion is permanent. Any running execution is cancelled before the sync
     * record is removed. Deleted syncs cannot be recovered; recreate them using
     * [`POST /api/syncs`](../../../api-reference/model-sync/create) if needed.
     *
     * @param {string} id
     * @param {ModelSyncClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.ConflictError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.remove("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public remove(
        id: string,
        requestOptions?: ModelSyncClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__remove(id, requestOptions));
    }

    private async __remove(
        id: string,
        requestOptions?: ModelSyncClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/syncs/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Polytomic.ConflictError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/syncs/{id}");
    }

    /**
     * Sets whether a model sync is active.
     *
     * Only active syncs execute on schedule or in response to a manual trigger. Set
     * `active` to `false` to pause a sync without deleting it.
     *
     * > 📘 Deactivating a sync does not cancel an execution that is already in
     * > progress. Use [`POST /api/syncs/{id}/cancel`](../../../../api-reference/model-sync/cancel) to stop a
     * > running execution.
     *
     * @param {string} id
     * @param {Polytomic.ActivateSyncInput} request
     * @param {ModelSyncClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.activate("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         active: true
     *     })
     */
    public activate(
        id: string,
        request: Polytomic.ActivateSyncInput,
        requestOptions?: ModelSyncClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.ActivateSyncEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__activate(id, request, requestOptions));
    }

    private async __activate(
        id: string,
        request: Polytomic.ActivateSyncInput,
        requestOptions?: ModelSyncClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ActivateSyncEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/syncs/${core.url.encodePathParam(id)}/activate`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.ActivateSyncEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/syncs/{id}/activate");
    }

    /**
     * Requests cancellation of any running executions on a model sync.
     *
     * Cancellation is asynchronous. A successful response means the cancellation
     * signal has been queued; the running execution continues until the signal is
     * processed. Poll `GET /api/syncs/{id}/status` until the current execution
     * reaches a terminal state (`completed`, `canceled`, or `failed`) to confirm
     * cancellation has taken effect.
     *
     * @param {string} id - The active execution of this sync ID will be cancelled.
     * @param {ModelSyncClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.cancel("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public cancel(
        id: string,
        requestOptions?: ModelSyncClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.CancelSyncResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(id, requestOptions));
    }

    private async __cancel(
        id: string,
        requestOptions?: ModelSyncClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.CancelSyncResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/syncs/${core.url.encodePathParam(id)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.CancelSyncResponseEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/syncs/{id}/cancel");
    }

    /**
     * Starts a new execution of a model sync.
     *
     * > 🚧 Force full resync
     * >
     * > Use caution when setting the `resync` parameter to `true`. This will force a full resync of the data from the source system. This can be a time-consuming operation and may impact the performance of the source system. It is recommended to only use this option when necessary.
     *
     * @param {string} id
     * @param {Polytomic.StartSyncRequest} request
     * @param {ModelSyncClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.ConflictError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.start("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public start(
        id: string,
        request: Polytomic.StartSyncRequest = {},
        requestOptions?: ModelSyncClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.StartSyncResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__start(id, request, requestOptions));
    }

    private async __start(
        id: string,
        request: Polytomic.StartSyncRequest = {},
        requestOptions?: ModelSyncClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.StartSyncResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/syncs/${core.url.encodePathParam(id)}/executions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.StartSyncResponseEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Polytomic.ConflictError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/syncs/{id}/executions");
    }

    /**
     * Returns the current status of a model sync.
     *
     * The response includes a summary of the most recent execution, including its
     * start time, completion time, and record counts. For the complete execution
     * history, use [`GET /api/syncs/{id}/executions`](../../../../api-reference/model-sync/executions/list).
     *
     * @param {string} id
     * @param {ModelSyncClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.getStatus("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public getStatus(
        id: string,
        requestOptions?: ModelSyncClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.SyncStatusEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getStatus(id, requestOptions));
    }

    private async __getStatus(
        id: string,
        requestOptions?: ModelSyncClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.SyncStatusEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/syncs/${core.url.encodePathParam(id)}/status`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.SyncStatusEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/syncs/{id}/status");
    }
}
