// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseIdempotentRequestOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as Polytomic from "../../../index";
import { ProxyClient } from "../resources/proxy/client/Client";
import { SharedConnectionsClient } from "../resources/sharedConnections/client/Client";

export declare namespace ConnectionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}

    export interface IdempotentRequestOptions extends RequestOptions, BaseIdempotentRequestOptions {}
}

export class ConnectionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConnectionsClient.Options>;
    protected _proxy: ProxyClient | undefined;
    protected _sharedConnections: SharedConnectionsClient | undefined;

    constructor(options: ConnectionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get proxy(): ProxyClient {
        return (this._proxy ??= new ProxyClient(this._options));
    }

    public get sharedConnections(): SharedConnectionsClient {
        return (this._sharedConnections ??= new SharedConnectionsClient(this._options));
    }

    /**
     * Lists all connection types supported by this deployment.
     *
     * Each entry includes per-type metadata:
     *
     * - The available operations the connection type supports.
     * - Its category.
     * - Whether the connection type is enabled for the caller's organization.
     * - Which modes (source, destination, enrichment) it can act as.
     *
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.getTypes()
     */
    public getTypes(
        requestOptions?: ConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ConnectionTypeResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getTypes(requestOptions));
    }

    private async __getTypes(
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ConnectionTypeResponseEnvelope>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/connection_types",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ConnectionTypeResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/connection_types");
    }

    /**
     * Returns the JSON schema for a connection type.
     *
     * This schema is intended for building forms or validating configuration payloads
     * client-side. It describes the structure Polytomic expects when you create or
     * update a connection of the given type.
     *
     * The response is metadata about the shape of the configuration, not a live
     * connection instance and not a set of current credential values.
     *
     * @param {string} id - Connection type identifier (e.g. postgresql, salesforce, hubspot).
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.getConnectionTypeSchema("postgresql")
     */
    public getConnectionTypeSchema(
        id: string,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.JsonschemaSchema> {
        return core.HttpResponsePromise.fromPromise(this.__getConnectionTypeSchema(id, requestOptions));
    }

    private async __getConnectionTypeSchema(
        id: string,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.JsonschemaSchema>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connection_types/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.JsonschemaSchema, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/connection_types/{id}");
    }

    /**
     * Returns completion values for parameter fields on a connection type.
     *
     * This endpoint is useful during connection setup, before a connection exists or
     * before you want to persist it. The supplied `parameters` are applied to a
     * temporary in-memory connection shape and used to resolve dependent options.
     *
     * When an endpoint requires upstream authorization before it can return values,
     * Polytomic returns an error instead of guessing. In that case, complete the
     * authorization flow first and call the endpoint again.
     *
     * @param {string} type
     * @param {Polytomic.GetConnectionTypeParameterValuesRequestSchema} request
     * @param {ConnectionsClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.getTypeParameterValues("type", {
     *         field: "field"
     *     })
     */
    public getTypeParameterValues(
        type: string,
        request: Polytomic.GetConnectionTypeParameterValuesRequestSchema,
        requestOptions?: ConnectionsClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.ConnectionParameterValuesResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getTypeParameterValues(type, request, requestOptions));
    }

    private async __getTypeParameterValues(
        type: string,
        request: Polytomic.GetConnectionTypeParameterValuesRequestSchema,
        requestOptions?: ConnectionsClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ConnectionParameterValuesResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connection_types/${core.url.encodePathParam(type)}/parameter_values`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ConnectionParameterValuesResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/connection_types/{type}/parameter_values",
        );
    }

    /**
     * Lists every connection in the caller's organization, with sensitive fields redacted.
     *
     * Sensitive configuration values — passwords, API tokens, private keys — are
     * redacted from all responses. To understand which fields a connection type
     * exposes, consult the parameter schema returned by
     * [`GET /api/connection_types`](../../api-reference/connections/get-types).
     *
     * To inspect the data objects available on a specific connection, use
     * [`POST /api/connections/{id}/schemas/refresh`](../../api-reference/schemas/refresh)
     * followed by [`GET /api/connections/{id}/schemas/status`](../../api-reference/schemas/get-status).
     *
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.list()
     */
    public list(
        requestOptions?: ConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ConnectionListResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ConnectionListResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/connections",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ConnectionListResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/connections");
    }

    /**
     * Creates a new connection of the specified type.
     *
     * Use [`GET /api/connection_types`](../../api-reference/connections/get-types) to retrieve the
     * list of available types and their parameter schemas. The `configuration`
     * object is type-specific; consult the [integration
     * guides](../../guides/configuring-your-connections/overview)
     * for the required and optional fields for each type.
     *
     * > 📘 Polytomic validates the connection against the upstream service
     * > immediately on creation. The request will fail if the credentials or
     * > endpoint cannot be reached.
     *
     * @param {Polytomic.CreateConnectionRequestSchema} request
     * @param {ConnectionsClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.UnprocessableEntityError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.create({
     *         configuration: {
     *             "database": "example",
     *             "hostname": "postgres.example.com",
     *             "password": "********",
     *             "port": 5432,
     *             "username": "user"
     *         },
     *         name: "My Postgres Connection",
     *         type: "postgresql"
     *     })
     */
    public create(
        request: Polytomic.CreateConnectionRequestSchema,
        requestOptions?: ConnectionsClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.CreateConnectionResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Polytomic.CreateConnectionRequestSchema,
        requestOptions?: ConnectionsClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.CreateConnectionResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/connections",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.CreateConnectionResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Polytomic.UnprocessableEntityError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/connections");
    }

    /**
     * Creates a Polytomic Connect session and returns a URL for creating or reconnecting a Connection.
     *
     * Open the returned URL, or send it to the person who will set up the Connection.
     * Polytomic Connect guides them through authentication and configuration, then
     * redirects them to `redirect_url`.
     *
     * Each session can create or reconnect one Connection.
     *
     * See also:
     *
     * - [Embedding authentication](../../../guides/embedding-authentication), a guide to using Polytomic Connect.
     *
     * @param {Polytomic.ConnectCardRequest} request
     * @param {ConnectionsClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.ConflictError}
     * @throws {@link Polytomic.UnprocessableEntityError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.connect({
     *         name: "Salesforce Connection",
     *         redirect_url: "redirect_url"
     *     })
     */
    public connect(
        request: Polytomic.ConnectCardRequest,
        requestOptions?: ConnectionsClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.ConnectCardResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__connect(request, requestOptions));
    }

    private async __connect(
        request: Polytomic.ConnectCardRequest,
        requestOptions?: ConnectionsClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ConnectCardResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/connections/connect/",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ConnectCardResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Polytomic.ConflictError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Polytomic.UnprocessableEntityError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/connections/connect/");
    }

    /**
     * Returns trusted metadata for the authenticated Polytomic Connect session.
     *
     * Returns the trusted metadata stored for a Polytomic Connect session. Authenticate with the opaque Connect token in the `token` query parameter.
     *
     * The response includes the server-enforced connection name, fixed type or whitelist, bound connection ID, completion redirect, branding, and absolute expiration time.
     *
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.getConnectSession()
     */
    public getConnectSession(
        requestOptions?: ConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ConnectSessionResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getConnectSession(requestOptions));
    }

    private async __getConnectSession(
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ConnectSessionResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/connections/connect/session",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ConnectSessionResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/connections/connect/session",
        );
    }

    /**
     * Tests a connection configuration.
     *
     * This endpoint is useful for setup flows that want to verify credentials before
     * persisting them.
     *
     * If you provide `connection_id`, Polytomic starts from the saved configuration
     * for that connection and then applies the request's `configuration` values on
     * top. This lets callers test a partial change without resending every existing
     * field.
     *
     * The request does not persist any configuration changes even when validation
     * succeeds.
     *
     * @param {Polytomic.TestConnectionRequest} request
     * @param {ConnectionsClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.testConnection({
     *         configuration: {
     *             "database": "example",
     *             "hostname": "postgres.example.com",
     *             "password": "password",
     *             "port": 5432,
     *             "username": "user"
     *         },
     *         type: "postgresql"
     *     })
     */
    public testConnection(
        request: Polytomic.TestConnectionRequest,
        requestOptions?: ConnectionsClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__testConnection(request, requestOptions));
    }

    private async __testConnection(
        request: Polytomic.TestConnectionRequest,
        requestOptions?: ConnectionsClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/connections/test",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/connections/test");
    }

    /**
     * Returns a single connection by ID, with sensitive fields redacted.
     *
     * To inspect the schemas available on this connection, trigger a refresh with
     * [`POST /api/connections/{id}/schemas/refresh`](../../../api-reference/schemas/refresh) and
     * track progress via
     * [`GET /api/connections/{id}/schemas/status`](../../../api-reference/schemas/get-status).
     *
     * @param {string} id
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.get("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public get(
        id: string,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ConnectionResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, requestOptions));
    }

    private async __get(
        id: string,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ConnectionResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.ConnectionResponseEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/connections/{id}");
    }

    /**
     * Updates a connection's configuration.
     *
     * Connections owned by a managed Harbor return `409 Conflict`. To rename the
     * Connection, [update its Harbor](../../../api-reference/harbors/update). Customer-managed
     * Harbor backing Connections remain independently editable.
     *
     * Updating a connection is a **full replacement** of its configuration. Any
     * `configuration` field you omit is cleared. To make a partial change, fetch
     * the current connection with
     * [`GET /api/connections/{id}`](../../../api-reference/connections/get), apply your edits, and send the
     * complete object back.
     *
     * > 📘 The connection is re-validated against the upstream service after every
     * > update. The request will fail if the new credentials or endpoint cannot be
     * > reached.
     *
     * Syncs that are already running when the update is submitted are not
     * interrupted; the updated configuration takes effect on their next execution.
     *
     * @param {string} id
     * @param {Polytomic.UpdateConnectionRequestSchema} request
     * @param {ConnectionsClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.ConflictError}
     * @throws {@link Polytomic.UnprocessableEntityError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.update("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         configuration: {
     *             "database": "example",
     *             "hostname": "postgres.example.com",
     *             "password": "********",
     *             "port": 5432,
     *             "username": "user"
     *         },
     *         name: "My Postgres Connection"
     *     })
     */
    public update(
        id: string,
        request: Polytomic.UpdateConnectionRequestSchema,
        requestOptions?: ConnectionsClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.CreateConnectionResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__update(id, request, requestOptions));
    }

    private async __update(
        id: string,
        request: Polytomic.UpdateConnectionRequestSchema,
        requestOptions?: ConnectionsClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.CreateConnectionResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.CreateConnectionResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Polytomic.ConflictError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Polytomic.UnprocessableEntityError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/api/connections/{id}");
    }

    /**
     * Deletes a connection.
     *
     * A Connection that backs any active Harbor returns `409 Conflict`, including
     * when you pass `force=true`. No dependent resources are deleted in this case.
     * [Delete the Harbor](../../../api-reference/harbors/delete) first. Deleting a managed
     * Harbor also deletes its managed Connection; deleting a customer-managed Harbor
     * preserves its backing Connection.
     *
     * > 🚧 Deleting a connection that is referenced by fieldsets, syncs, bulk
     * > syncs, or schedules returns `422 connection in use` unless you pass
     * > `force=true`. With `force=true`, the API deletes those dependent
     * > resources before removing the connection.
     *
     * @param {string} id
     * @param {Polytomic.ConnectionsDeleteRequest} request
     * @param {ConnectionsClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.ConflictError}
     * @throws {@link Polytomic.UnprocessableEntityError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.delete("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         force: true
     *     })
     */
    public delete(
        id: string,
        request: Polytomic.ConnectionsDeleteRequest = {},
        requestOptions?: ConnectionsClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(id, request, requestOptions));
    }

    private async __delete(
        id: string,
        request: Polytomic.ConnectionsDeleteRequest = {},
        requestOptions?: ConnectionsClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { force } = request;
        const _queryParams: Record<string, unknown> = {
            force,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Polytomic.ConflictError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Polytomic.UnprocessableEntityError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/connections/{id}");
    }

    /**
     * Returns completion values for parameter fields on a persisted connection.
     *
     * Use this endpoint when the available options for one parameter depend on the
     * connection's saved credentials or previously selected settings. For example,
     * after a connection is authorized, the upstream service may be able to return
     * lists of databases, schemas, or similar selectable values.
     *
     * For new setup flows, prefer
     * [`POST /api/connection_types/{type}/parameter_values`](../../../../api-reference/connections/get-type-parameter-values),
     * which lets you resolve completions before the connection has been created.
     *
     * @param {string} id
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.getParameterValues("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public getParameterValues(
        id: string,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ConnectionParameterValuesResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getParameterValues(id, requestOptions));
    }

    private async __getParameterValues(
        id: string,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ConnectionParameterValuesResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}/parameter_values`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ConnectionParameterValuesResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/connections/{id}/parameter_values",
        );
    }

    /**
     * Returns the connection's API consumption over the last 24 hours, broken down by sync when the backend supports it.
     *
     * Not all integrations support usage reporting.
     *
     * - `callsLast24h` is null when the backend does not expose a usage count.
     * - `reportsSyncStats` is `false`, and `bySync` is empty, when the backend
     *   reports a total but cannot attribute calls to individual syncs.
     *
     * When per-sync stats are available, each entry in `bySync` carries a
     * `categories` breakdown. **Category keys and labels are integration-specific.**
     * For example, Salesforce reports `rest` and `bulk` categories
     * (collapsing Bulk API v1 and v2 into a single `bulk` bucket), while another
     * integration may report an entirely different set or none at all. Treat `key`
     * as an opaque, backend-defined identifier and use `label` for display; do not
     * assume a fixed vocabulary across connection types.
     *
     * @param {string} id - Unique identifier of the connection whose API consumption should be returned.
     * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.getUsage("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public getUsage(
        id: string,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.GetConnectionUsageEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getUsage(id, requestOptions));
    }

    private async __getUsage(
        id: string,
        requestOptions?: ConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.GetConnectionUsageEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}/usage`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.GetConnectionUsageEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/connections/{id}/usage");
    }
}
