// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as Polytomic from "../../../../../index";

export declare namespace TargetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TargetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TargetsClient.Options>;

    constructor(options: TargetsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the fields of a specific target object on a connection.
     *
     * Pass the target object identifier to retrieve the fields available for
     * mapping on that object. These are the destination fields you can reference
     * when configuring field mappings in a model sync.
     *
     * > 📘 To list available target objects and their identifiers, use
     * > [`GET /api/connections/{id}/modelsync/targetobjects`](../../../../../../api-reference/model-sync/targets/list).
     *
     * Fields returned here reflect the connection's current cached state. If the
     * upstream object schema has changed, trigger a schema refresh with
     * [`POST /api/connections/{id}/schemas/refresh`](../../../../../../api-reference/schemas/refresh)
     * before calling this endpoint.
     *
     * @param {string} id - Unique identifier of the connection.
     * @param {Polytomic.modelSync.TargetsGetTargetFieldsRequest} request
     * @param {TargetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.targets.getTargetFields("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         target: "database.table",
     *         refresh: false
     *     })
     */
    public getTargetFields(
        id: string,
        request: Polytomic.modelSync.TargetsGetTargetFieldsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.TargetResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getTargetFields(id, request, requestOptions));
    }

    private async __getTargetFields(
        id: string,
        request: Polytomic.modelSync.TargetsGetTargetFieldsRequest,
        requestOptions?: TargetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.TargetResponseEnvelope>> {
        const { target, refresh } = request;
        const _queryParams: Record<string, unknown> = {
            target,
            refresh,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}/modelsync/target/fields`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.TargetResponseEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/connections/{id}/modelsync/target/fields",
        );
    }

    /**
     * Lists the target objects available on a connection for use as a model sync destination.
     *
     * If the connection supports creating new destinations, the `target_creation`
     * object will contain information on what properties are required to create the
     * target.
     *
     * Target creation properties are all string values; the `enum` flag indicates if
     * the property has a fixed set of valid values. When `enum` is `true`, the [Target
     * Creation Property
     * Values](../../../../../api-reference/model-sync/targets/get-create-property)
     * endpoint can be used to retrieve the valid values.
     *
     * ## Sync modes
     *
     * The sync mode determines which records are written to the destination for a
     * model sync. The `modes` array for a target object defines the `id` along with
     * what operations the mode supports.
     *
     * @param {string} id
     * @param {TargetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.targets.list("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public list(
        id: string,
        requestOptions?: TargetsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.TargetObjectsResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__list(id, requestOptions));
    }

    private async __list(
        id: string,
        requestOptions?: TargetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.TargetObjectsResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}/modelsync/targetobjects`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.TargetObjectsResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/connections/{id}/modelsync/targetobjects",
        );
    }

    /**
     * Returns the valid values for a target-creation property on a connection that supports creating new target objects.
     *
     * Connections which support creating new sync target objects (destinations) will
     * return `target_creation` with their [target object list](../../../../../../../api-reference/model-sync/targets/list). This endpoint
     * will return possible values for properties where `enum` is `true`.
     *
     * If the connection does not support creating new target objects, an HTTP 404 will
     * be returned.
     *
     * The `values` array lists the valid options (and labels) for the property. Each
     * member of the `values` array has a `label` and `value`. For exaample,
     *
     * ```json
     * {
     *   "data": [
     *     {
     *       "id": "account",
     *       "title": "Account ID",
     *       "enum": true,
     *       "values": [
     *         {
     *           "value": "1234567::urn:li:organization:987654",
     *           "label": "Polytomic Inc. (1234567)"
     *         }
     *       ]
     *     }
     *   ]
     * }
     * ```
     *
     * The `value` for the selected option should be passed when [creating a
     * sync](../../../../../../../api-reference/model-sync/create).
     *
     * @param {string} id
     * @param {string} property
     * @param {TargetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.targets.getCreateProperty("248df4b7-aa70-47b8-a036-33ac447e668d", "property")
     */
    public getCreateProperty(
        id: string,
        property: string,
        requestOptions?: TargetsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.TargetPropertyValuesEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getCreateProperty(id, property, requestOptions));
    }

    private async __getCreateProperty(
        id: string,
        property: string,
        requestOptions?: TargetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.TargetPropertyValuesEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}/modelsync/targetobjects/properties/${core.url.encodePathParam(property)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.TargetPropertyValuesEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/connections/{id}/modelsync/targetobjects/properties/{property}",
        );
    }
}
