// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseIdempotentRequestOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as Polytomic from "../../../../../index";

export declare namespace ExecutionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}

    export interface IdempotentRequestOptions extends RequestOptions, BaseIdempotentRequestOptions {}
}

export class ExecutionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ExecutionsClient.Options>;

    constructor(options: ExecutionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a concise per-schema status for one or more bulk syncs.
     *
     * This endpoint is a summary view, not an execution-history view. Each schema is
     * represented at most once with its most recent execution status, and running
     * executions are preferred over older terminal ones.
     *
     * Use this endpoint when you want a dashboard-style answer to "what is each sync
     * doing now?" If you need the full execution history or a single execution's
     * details, use [`GET /api/bulk/syncs/{id}/executions`](../../../../api-reference/bulk-sync/executions/list) or
     * [`GET /api/bulk/syncs/{id}/executions/{exec_id}`](../../../../api-reference/bulk-sync/executions/get) instead.
     *
     * Setting `all=true` or `active=true` ignores any explicit `sync_id` filters and
     * expands the request to the caller's organization scope.
     *
     * @param {Polytomic.bulkSync.ExecutionsListStatusRequest} request
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.NotFoundError}
     *
     * @example
     *     await client.bulkSync.executions.listStatus({
     *         all: true,
     *         active: true,
     *         sync_id: ["248df4b7-aa70-47b8-a036-33ac447e668d"]
     *     })
     */
    public listStatus(
        request: Polytomic.bulkSync.ExecutionsListStatusRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ListBulkSyncExecutionsStatusEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__listStatus(request, requestOptions));
    }

    private async __listStatus(
        request: Polytomic.bulkSync.ExecutionsListStatusRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ListBulkSyncExecutionsStatusEnvelope>> {
        const { all, active, sync_id: syncId } = request;
        const _queryParams: Record<string, unknown> = {
            all,
            active,
            sync_id: syncId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/bulk/syncs/status",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ListBulkSyncExecutionsStatusEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/bulk/syncs/status");
    }

    /**
     * Lists executions for a bulk sync.
     *
     * Results are ordered by start time descending by default. When more results are
     * available, the response includes an opaque `pagination.next_page_token`; pass it
     * back as the `page_token` query parameter to retrieve the next page. The `limit`
     * parameter is optional, and the maximum page size is 100 executions.
     *
     * Use `only_terminal=true` to return only finished executions. In that mode,
     * executions are ordered by `updated_at` so recently completed runs appear first.
     *
     * Use `ascending=true` to walk forward from the oldest execution instead of
     * starting with the newest execution.
     *
     * For the full details of a single run — including per-schema execution status —
     * use [`GET /api/bulk/syncs/{id}/executions/{exec_id}`](../../../../../api-reference/bulk-sync/executions/get).
     *
     * @param {string} id - Unique identifier of the bulk sync.
     * @param {Polytomic.bulkSync.ExecutionsListRequest} request
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.NotFoundError}
     *
     * @example
     *     await client.bulkSync.executions.list("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         page_token: "AmkYh8v0jR5B3kls2Qcc9y8MjrPmvR4CvaK7H0F4rEwqvg76K==",
     *         only_terminal: true,
     *         ascending: true,
     *         limit: 100
     *     })
     */
    public list(
        id: string,
        request: Polytomic.bulkSync.ExecutionsListRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ListBulkSyncExecutionsEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__list(id, request, requestOptions));
    }

    private async __list(
        id: string,
        request: Polytomic.bulkSync.ExecutionsListRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ListBulkSyncExecutionsEnvelope>> {
        const { page_token: pageToken, only_terminal: onlyTerminal, ascending, limit } = request;
        const _queryParams: Record<string, unknown> = {
            page_token: pageToken,
            only_terminal: onlyTerminal,
            ascending,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}/executions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ListBulkSyncExecutionsEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/bulk/syncs/{id}/executions",
        );
    }

    /**
     * Returns a single bulk sync execution, including per-schema execution status.
     *
     * The response includes a breakdown of each schema (table or object) that
     * participated in the execution, with its individual status, row counts, and any
     * error details. This makes it suitable for diagnosing partial failures where
     * some schemas succeeded while others did not.
     *
     * @param {string} id - Unique identifier of the bulk sync.
     * @param {string} exec_id - Unique identifier of the execution.
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.NotFoundError}
     *
     * @example
     *     await client.bulkSync.executions.get("248df4b7-aa70-47b8-a036-33ac447e668d", "248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public get(
        id: string,
        exec_id: string,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.BulkSyncExecutionEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, exec_id, requestOptions));
    }

    private async __get(
        id: string,
        exec_id: string,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.BulkSyncExecutionEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}/executions/${core.url.encodePathParam(exec_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.BulkSyncExecutionEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/bulk/syncs/{id}/executions/{exec_id}",
        );
    }

    /**
     * Requests cancellation of a specific bulk sync execution.
     *
     * Cancellation is asynchronous. A successful response means the cancellation
     * signal has been queued; the execution continues to run until the signal is
     * processed. Poll `GET /api/bulk/syncs/{id}/executions/{exec_id}` until the
     * execution reaches a terminal state (`completed`, `canceled`, or `failed`) to
     * confirm cancellation has taken effect.
     *
     * @param {string} id - The bulk sync ID.
     * @param {string} exec_id - The execution ID to cancel.
     * @param {ExecutionsClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.executions.cancel("248df4b7-aa70-47b8-a036-33ac447e668d", "248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public cancel(
        id: string,
        exec_id: string,
        requestOptions?: ExecutionsClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.CancelBulkSyncResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(id, exec_id, requestOptions));
    }

    private async __cancel(
        id: string,
        exec_id: string,
        requestOptions?: ExecutionsClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.CancelBulkSyncResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}/executions/${core.url.encodePathParam(exec_id)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.CancelBulkSyncResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/bulk/syncs/{id}/executions/{exec_id}/cancel",
        );
    }

    /**
     * Fetch the latest console log entries for a bulk sync execution. Returns at most the most recent 50 entries retained in Redis.
     *
     * @param {string} sync_id
     * @param {string} execution_id
     * @param {Polytomic.bulkSync.ExecutionsGetConsoleLogsRequest} request
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.RequestTimeoutError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.executions.getConsoleLogs("248df4b7-aa70-47b8-a036-33ac447e668d", "0ecd09c1-b901-4d27-9053-f0367c427254", {
     *         limit: 50,
     *         after: "1744311099250-0"
     *     })
     */
    public getConsoleLogs(
        sync_id: string,
        execution_id: string,
        request: Polytomic.bulkSync.ExecutionsGetConsoleLogsRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ExecutionConsoleLogsResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(
            this.__getConsoleLogs(sync_id, execution_id, request, requestOptions),
        );
    }

    private async __getConsoleLogs(
        sync_id: string,
        execution_id: string,
        request: Polytomic.bulkSync.ExecutionsGetConsoleLogsRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ExecutionConsoleLogsResponseEnvelope>> {
        const { limit, after } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            after,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(sync_id)}/executions/${core.url.encodePathParam(execution_id)}/consolelog`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ExecutionConsoleLogsResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 408:
                    throw new Polytomic.RequestTimeoutError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/bulk/syncs/{sync_id}/executions/{execution_id}/consolelog",
        );
    }

    /**
     * Returns signed URLs for the log files produced by a single bulk sync execution.
     *
     * Each URL in the response is pre-signed and grants temporary read access to the
     * corresponding log file. URLs expire after a short period; if you need to access
     * a file after the URL has expired, call this endpoint again to obtain a fresh set
     * of signed URLs.
     *
     * > 📘 To export logs asynchronously to a destination of your choice, use
     * > [`POST /api/bulk/syncs/{sync_id}/executions/{execution_id}/logs/export`](../../../../../../../api-reference/bulk-sync/executions/export-logs)
     * > instead.
     *
     * @param {string} sync_id - Unique identifier of the bulk sync.
     * @param {string} execution_id - Unique identifier of the execution whose log files should be listed.
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.NotFoundError}
     *
     * @example
     *     await client.bulkSync.executions.getLogs("248df4b7-aa70-47b8-a036-33ac447e668d", "248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public getLogs(
        sync_id: string,
        execution_id: string,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.BulkSyncExecutionLogsEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getLogs(sync_id, execution_id, requestOptions));
    }

    private async __getLogs(
        sync_id: string,
        execution_id: string,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.BulkSyncExecutionLogsEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(sync_id)}/executions/${core.url.encodePathParam(execution_id)}/logs`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.BulkSyncExecutionLogsEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/bulk/syncs/{sync_id}/executions/{execution_id}/logs",
        );
    }

    /**
     * Starts an asynchronous job that packages the log files for a single bulk sync execution into a downloadable archive.
     *
     * > 📘 Log export is asynchronous
     * >
     * > This endpoint starts a background job that packages an execution's log
     * > files into a downloadable archive. The first call typically returns a
     * > `job` descriptor instead of a completed result. Poll
     * > [`GET /api/jobs/exportlogs/{id}`](../../../../../../../../api-reference/jobs/get)
     * > with the returned `job_id` until `status` is `done`; the final response
     * > contains a signed `url` that can be used to download the archive.
     * >
     * > Set `notify=true` to also email the requesting user when the archive is
     * > ready.
     *
     * @param {string} sync_id - Unique identifier of the bulk sync.
     * @param {string} execution_id - Unique identifier of the execution whose logs should be exported.
     * @param {Polytomic.bulkSync.ExecutionsExportLogsRequest} request
     * @param {ExecutionsClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.executions.exportLogs("248df4b7-aa70-47b8-a036-33ac447e668d", "248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         notify: true
     *     })
     */
    public exportLogs(
        sync_id: string,
        execution_id: string,
        request: Polytomic.bulkSync.ExecutionsExportLogsRequest = {},
        requestOptions?: ExecutionsClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.ExportSyncLogsEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__exportLogs(sync_id, execution_id, request, requestOptions));
    }

    private async __exportLogs(
        sync_id: string,
        execution_id: string,
        request: Polytomic.bulkSync.ExecutionsExportLogsRequest = {},
        requestOptions?: ExecutionsClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ExportSyncLogsEnvelope>> {
        const { notify } = request;
        const _queryParams: Record<string, unknown> = {
            notify,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(sync_id)}/executions/${core.url.encodePathParam(execution_id)}/logs/export`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.ExportSyncLogsEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/bulk/syncs/{sync_id}/executions/{execution_id}/logs/export",
        );
    }

    /**
     * Fetch the latest console log entries for a schema within a bulk sync execution. Returns at most the most recent 50 entries retained in Redis.
     *
     * @param {string} sync_id
     * @param {string} execution_id
     * @param {string} schema_id - Schema identifier for schema-scoped console logs.
     * @param {Polytomic.bulkSync.ExecutionsGetSchemaConsoleLogsRequest} request
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.RequestTimeoutError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.executions.getSchemaConsoleLogs("248df4b7-aa70-47b8-a036-33ac447e668d", "0ecd09c1-b901-4d27-9053-f0367c427254", "users", {
     *         limit: 50,
     *         after: "1744311099250-0"
     *     })
     */
    public getSchemaConsoleLogs(
        sync_id: string,
        execution_id: string,
        schema_id: string,
        request: Polytomic.bulkSync.ExecutionsGetSchemaConsoleLogsRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ExecutionConsoleLogsResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(
            this.__getSchemaConsoleLogs(sync_id, execution_id, schema_id, request, requestOptions),
        );
    }

    private async __getSchemaConsoleLogs(
        sync_id: string,
        execution_id: string,
        schema_id: string,
        request: Polytomic.bulkSync.ExecutionsGetSchemaConsoleLogsRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ExecutionConsoleLogsResponseEnvelope>> {
        const { limit, after } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            after,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(sync_id)}/executions/${core.url.encodePathParam(execution_id)}/schemas/${core.url.encodePathParam(schema_id)}/consolelog`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ExecutionConsoleLogsResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 408:
                    throw new Polytomic.RequestTimeoutError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/bulk/syncs/{sync_id}/executions/{execution_id}/schemas/{schema_id}/consolelog",
        );
    }
}
