// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as Polytomic from "../../../../../index";

export declare namespace ExecutionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ExecutionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ExecutionsClient.Options>;

    constructor(options: ExecutionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Polytomic.bulkSync.ExecutionsListStatusRequest} request
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.NotFoundError}
     *
     * @example
     *     await client.bulkSync.executions.listStatus({
     *         all: true,
     *         active: true
     *     })
     */
    public listStatus(
        request: Polytomic.bulkSync.ExecutionsListStatusRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ListBulkSyncExecutionStatusEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__listStatus(request, requestOptions));
    }

    private async __listStatus(
        request: Polytomic.bulkSync.ExecutionsListStatusRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ListBulkSyncExecutionStatusEnvelope>> {
        const { all, active, sync_id: syncId } = request;
        const _queryParams: Record<string, unknown> = {
            all,
            active,
            sync_id: syncId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Polytomic-Version": requestOptions?.version ?? this._options?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/bulk/syncs/status",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ListBulkSyncExecutionStatusEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.RestErrResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/bulk/syncs/status");
    }

    /**
     * @param {string} id
     * @param {Polytomic.bulkSync.ExecutionsListRequest} request
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.NotFoundError}
     *
     * @example
     *     await client.bulkSync.executions.list("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         page_token: "AmkYh8v0jR5B3kls2Qcc9y8MjrPmvR4CvaK7H0F4rEwqvg76K==",
     *         only_terminal: true,
     *         ascending: true,
     *         limit: 100
     *     })
     */
    public list(
        id: string,
        request: Polytomic.bulkSync.ExecutionsListRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ListBulkSyncExecutionsEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__list(id, request, requestOptions));
    }

    private async __list(
        id: string,
        request: Polytomic.bulkSync.ExecutionsListRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ListBulkSyncExecutionsEnvelope>> {
        const { page_token: pageToken, only_terminal: onlyTerminal, ascending, limit } = request;
        const _queryParams: Record<string, unknown> = {
            page_token: pageToken,
            only_terminal: onlyTerminal,
            ascending,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Polytomic-Version": requestOptions?.version ?? this._options?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}/executions`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ListBulkSyncExecutionsEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.RestErrResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/bulk/syncs/{id}/executions",
        );
    }

    /**
     * @param {string} id
     * @param {string} exec_id
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.NotFoundError}
     *
     * @example
     *     await client.bulkSync.executions.get("248df4b7-aa70-47b8-a036-33ac447e668d", "248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public get(
        id: string,
        exec_id: string,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.BulkSyncExecutionEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, exec_id, requestOptions));
    }

    private async __get(
        id: string,
        exec_id: string,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.BulkSyncExecutionEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Polytomic-Version": requestOptions?.version ?? this._options?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}/executions/${core.url.encodePathParam(exec_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.BulkSyncExecutionEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.RestErrResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/bulk/syncs/{id}/executions/{exec_id}",
        );
    }

    /**
     * @param {string} id - The bulk sync ID.
     * @param {string} exec_id - The execution ID to cancel.
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.executions.cancel("248df4b7-aa70-47b8-a036-33ac447e668d", "248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public cancel(
        id: string,
        exec_id: string,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.CancelBulkSyncResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(id, exec_id, requestOptions));
    }

    private async __cancel(
        id: string,
        exec_id: string,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.CancelBulkSyncResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Polytomic-Version": requestOptions?.version ?? this._options?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}/executions/${core.url.encodePathParam(exec_id)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.CancelBulkSyncResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.RestErrResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/bulk/syncs/{id}/executions/{exec_id}/cancel",
        );
    }

    /**
     * @param {string} sync_id
     * @param {string} execution_id
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.NotFoundError}
     *
     * @example
     *     await client.bulkSync.executions.getLogs("248df4b7-aa70-47b8-a036-33ac447e668d", "248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public getLogs(
        sync_id: string,
        execution_id: string,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.V4BulkSyncExecutionLogsEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getLogs(sync_id, execution_id, requestOptions));
    }

    private async __getLogs(
        sync_id: string,
        execution_id: string,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.V4BulkSyncExecutionLogsEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Polytomic-Version": requestOptions?.version ?? this._options?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(sync_id)}/executions/${core.url.encodePathParam(execution_id)}/logs`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.V4BulkSyncExecutionLogsEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.RestErrResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/bulk/syncs/{sync_id}/executions/{execution_id}/logs",
        );
    }

    /**
     * @param {string} sync_id
     * @param {string} execution_id
     * @param {Polytomic.bulkSync.ExecutionsExportLogsRequest} request
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.executions.exportLogs("248df4b7-aa70-47b8-a036-33ac447e668d", "248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         notify: true
     *     })
     */
    public exportLogs(
        sync_id: string,
        execution_id: string,
        request: Polytomic.bulkSync.ExecutionsExportLogsRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.V4ExportSyncLogsEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__exportLogs(sync_id, execution_id, request, requestOptions));
    }

    private async __exportLogs(
        sync_id: string,
        execution_id: string,
        request: Polytomic.bulkSync.ExecutionsExportLogsRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.V4ExportSyncLogsEnvelope>> {
        const { notify } = request;
        const _queryParams: Record<string, unknown> = {
            notify,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Polytomic-Version": requestOptions?.version ?? this._options?.version }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(sync_id)}/executions/${core.url.encodePathParam(execution_id)}/logs/export`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.V4ExportSyncLogsEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.RestErrResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/bulk/syncs/{sync_id}/executions/{execution_id}/logs/export",
        );
    }
}
