// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseIdempotentRequestOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as Polytomic from "../../../../../index";

export declare namespace SharedConnectionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}

    export interface IdempotentRequestOptions extends RequestOptions, BaseIdempotentRequestOptions {}
}

export class SharedConnectionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SharedConnectionsClient.Options>;

    constructor(options: SharedConnectionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists shared copies of a connection that the caller's organization owns.
     *
     * The returned connections are the child copies, not the parent connection
     * itself. This is useful when a partner workflow needs to confirm which
     * downstream organizations have already received a shared copy.
     *
     * Creating a new shared copy is a separate operation. Use
     * [`POST /api/organizations/{org_id}/connections/{connection_id}/share`](../../../../api-reference/connections/create-shared-connection)
     * for the v5 partner-scoped flow.
     *
     * @param {string} id - Unique identifier of the parent connection whose shared copies should be listed.
     * @param {SharedConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.UnprocessableEntityError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.connections.sharedConnections.listSharedConnections("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public listSharedConnections(
        id: string,
        requestOptions?: SharedConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ConnectionListResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__listSharedConnections(id, requestOptions));
    }

    private async __listSharedConnections(
        id: string,
        requestOptions?: SharedConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ConnectionListResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}/shared`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ConnectionListResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Polytomic.UnprocessableEntityError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/connections/{id}/shared");
    }

    /**
     * Lists shared copies of a connection owned by a specific organization in the partner account.
     *
     * The `org_id` must match the organization that owns the parent connection. If it
     * does not, the endpoint returns `404` rather than exposing information about the
     * parent connection.
     *
     * This endpoint is useful in partner workflows where the parent connection is in
     * the partner owner organization and the caller needs to audit which child
     * organizations already have a shared copy.
     *
     * @param {string} org_id - Unique identifier of the organization that owns the parent connection.
     * @param {string} connection_id - Unique identifier of the parent connection whose shared copies should be listed.
     * @param {SharedConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.UnprocessableEntityError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.connections.sharedConnections.listSharedConnectionsForPartner("248df4b7-aa70-47b8-a036-33ac447e668d", "248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public listSharedConnectionsForPartner(
        org_id: string,
        connection_id: string,
        requestOptions?: SharedConnectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ConnectionListResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(
            this.__listSharedConnectionsForPartner(org_id, connection_id, requestOptions),
        );
    }

    private async __listSharedConnectionsForPartner(
        org_id: string,
        connection_id: string,
        requestOptions?: SharedConnectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ConnectionListResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/organizations/${core.url.encodePathParam(org_id)}/connections/${core.url.encodePathParam(connection_id)}/shared`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ConnectionListResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Polytomic.UnprocessableEntityError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/organizations/{org_id}/connections/{connection_id}/shared",
        );
    }

    /**
     * Shares a connection with another organization in the caller's partner account.
     *
     * @param {string} org_id - Unique identifier of the organization that owns the parent connection.
     * @param {string} connection_id - Unique identifier of the parent connection to share.
     * @param {Polytomic.connections.PartnerCreateSharedConnectionRequestSchema} request
     * @param {SharedConnectionsClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.connections.sharedConnections.createSharedConnection("248df4b7-aa70-47b8-a036-33ac447e668d", "248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         child_organization_id: "248df4b7-aa70-47b8-a036-33ac447e668d"
     *     })
     */
    public createSharedConnection(
        org_id: string,
        connection_id: string,
        request: Polytomic.connections.PartnerCreateSharedConnectionRequestSchema,
        requestOptions?: SharedConnectionsClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.CreateSharedConnectionResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(
            this.__createSharedConnection(org_id, connection_id, request, requestOptions),
        );
    }

    private async __createSharedConnection(
        org_id: string,
        connection_id: string,
        request: Polytomic.connections.PartnerCreateSharedConnectionRequestSchema,
        requestOptions?: SharedConnectionsClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.CreateSharedConnectionResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/organizations/${core.url.encodePathParam(org_id)}/connections/${core.url.encodePathParam(connection_id)}/shared`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.CreateSharedConnectionResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/organizations/{org_id}/connections/{connection_id}/shared",
        );
    }
}
