// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseIdempotentRequestOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as Polytomic from "../../../index";
import { ExecutionsClient } from "../resources/executions/client/Client";
import { SchedulesClient } from "../resources/schedules/client/Client";
import { SchemasClient } from "../resources/schemas/client/Client";

export declare namespace BulkSyncClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}

    export interface IdempotentRequestOptions extends RequestOptions, BaseIdempotentRequestOptions {}
}

export class BulkSyncClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BulkSyncClient.Options>;
    protected _executions: ExecutionsClient | undefined;
    protected _schemas: SchemasClient | undefined;
    protected _schedules: SchedulesClient | undefined;

    constructor(options: BulkSyncClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get executions(): ExecutionsClient {
        return (this._executions ??= new ExecutionsClient(this._options));
    }

    public get schemas(): SchemasClient {
        return (this._schemas ??= new SchemasClient(this._options));
    }

    public get schedules(): SchedulesClient {
        return (this._schedules ??= new SchedulesClient(this._options));
    }

    /**
     * Lists bulk syncs in the caller's organization.
     *
     * Results are ordered by `updated_at` descending, with `id` as a tiebreaker for
     * syncs modified at the same instant. Pagination uses an opaque
     * `pagination.next_page_token` returned in the response; pass it back as the
     * `page_token` query parameter to fetch the next page. The `limit` parameter is
     * optional, and the default and maximum page size is 50 syncs.
     *
     * > 📘 To retrieve a specific sync, use
     * > [`GET /api/bulk/syncs/{id}`](../../../api-reference/bulk-sync/get)
     * > instead of filtering the list client-side.
     *
     * @param {Polytomic.BulkSyncListRequest} request
     * @param {BulkSyncClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.list({
     *         active: true
     *     })
     */
    public list(
        request: Polytomic.BulkSyncListRequest = {},
        requestOptions?: BulkSyncClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.BulkSyncListEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Polytomic.BulkSyncListRequest = {},
        requestOptions?: BulkSyncClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.BulkSyncListEnvelope>> {
        const { active } = request;
        const _queryParams: Record<string, unknown> = {
            active,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/bulk/syncs",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.BulkSyncListEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/bulk/syncs");
    }

    /**
     * Creates a new bulk sync.
     *
     * Bulk syncs are used for the ELT pattern (Extract, Load, and Transform), where you want to sync un-transformed data to your data warehouses, databases, or cloud storage buckets like S3.
     *
     * All of the functionality described in [the product
     * documentation](https://docs.polytomic.com/docs/bulk-syncs) is configurable via
     * the API.
     *
     * Sample code examples:
     *
     * - [Bulk sync (ELT) from Salesforce to S3](../../../guides/code-examples/bulk-sync-elt-from-salesforce-to-s-3)
     * - [Bulk sync (ELT) from Salesforce to Snowflake](../../../guides/code-examples/bulk-sync-elt-from-salesforce-to-snowflake)
     * - [Bulk sync (ELT) from HubSpot to PostgreSQL](../../../guides/code-examples/bulk-sync-elt-from-hub-spot-to-postgre-sql)
     *
     * ## Connection specific configuration
     *
     * The `destination_configuration` is integration-specific configuration for the
     * selected bulk sync destination. This includes settings such as the output schema
     * and is required when creating a new sync.
     *
     * The `source_configuration` is optional. It allows configuration for how
     * Polytomic reads data from the source connection. This will not be available for
     * integrations that do not support additional configuration.
     *
     * Consult the [connection configurations](../../../guides/configuring-your-connections/overview)
     * to see configurations for particular integrations (for example, [here](../../../guides/configuring-your-connections/connections/postgre-sql#source-1) is the available source configuration for the PostgreSQL bulk sync source).
     *
     * ## Defaults and selection behavior
     *
     * If `schemas` is omitted, the sync is created with all available source schemas
     * selected. Pass `schemas` explicitly if you want the initial sync to include
     * only a subset of tables or objects.
     *
     * Schedule times are interpreted in UTC.
     *
     * When omitted, automatic discovery defaults are conservative:
     *
     * - `automatically_add_new_objects` defaults to not enabling newly discovered
     *   source objects automatically.
     * - `automatically_add_new_fields` defaults to enabling newly discovered fields
     *   on already selected objects.
     * - `normalize_names` defaults to enabled.
     *
     * @param {Polytomic.CreateBulkSyncRequest} request
     * @param {BulkSyncClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.UnprocessableEntityError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.create({
     *         default_schedule: {
     *             frequency: "manual"
     *         },
     *         destination_configuration: {
     *             "schema": "my_schema"
     *         },
     *         destination_connection_id: "248df4b7-aa70-47b8-a036-33ac447e668d",
     *         name: "My Bulk Sync",
     *         source_connection_id: "248df4b7-aa70-47b8-a036-33ac447e668d"
     *     })
     */
    public create(
        request: Polytomic.CreateBulkSyncRequest,
        requestOptions?: BulkSyncClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.BulkSyncResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Polytomic.CreateBulkSyncRequest,
        requestOptions?: BulkSyncClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.BulkSyncResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/bulk/syncs",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.BulkSyncResponseEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 422:
                    throw new Polytomic.UnprocessableEntityError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/bulk/syncs");
    }

    /**
     * Returns a bulk sync by ID.
     *
     * The response includes the sync's top-level configuration — source, destination,
     * schedules, and discovery settings.
     *
     * - To check whether the sync is running and see the most-recent execution result,
     *   use [`GET /api/bulk/syncs/{id}/status`](../../../../api-reference/bulk-sync/get-status).
     * - To inspect which schemas are selected and how they are configured, use
     *   [`GET /api/bulk/syncs/{id}/schemas`](../../../../api-reference/bulk-sync/schemas/list).
     *
     * @param {string} id
     * @param {Polytomic.BulkSyncGetRequest} request
     * @param {BulkSyncClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.NotFoundError}
     *
     * @example
     *     await client.bulkSync.get("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         refresh_schemas: true
     *     })
     */
    public get(
        id: string,
        request: Polytomic.BulkSyncGetRequest = {},
        requestOptions?: BulkSyncClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.BulkSyncResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, request, requestOptions));
    }

    private async __get(
        id: string,
        request: Polytomic.BulkSyncGetRequest = {},
        requestOptions?: BulkSyncClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.BulkSyncResponseEnvelope>> {
        const { refresh_schemas: refreshSchemas } = request;
        const _queryParams: Record<string, unknown> = {
            refresh_schemas: refreshSchemas,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.BulkSyncResponseEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/bulk/syncs/{id}");
    }

    /**
     * Updates an existing bulk sync's top-level configuration.
     *
     * Updating a bulk sync is a **full replacement** of the sync's top-level
     * configuration. Every field in the request body is written to the sync; any
     * field you omit is cleared or reset to its default value.
     *
     * To make a partial change — for example, toggling `active` or swapping a
     * schedule — fetch the current sync with
     * [`GET /api/bulk/syncs/{id}`](../../../../api-reference/bulk-sync/get),
     * modify the fields you want to change, and send the complete object back in
     * the update request.
     *
     * Updates to `active`, `schedules`, and `policies` take effect immediately.
     * Changes to source or destination configuration take effect on the sync's
     * next execution.
     *
     * Because omitted fields are reset to their defaults, the discovery and
     * naming options behave the same as on create when left out:
     *
     * - `automatically_add_new_objects` resets to not enabling newly discovered
     *   source objects automatically.
     * - `automatically_add_new_fields` resets to enabling newly discovered
     *   fields on already selected objects.
     * - `normalize_names` resets to enabled.
     *
     * Send the existing values explicitly if you want to preserve a non-default or
     * non-empty setting, including schema and field selections.
     *
     * > 📘 Updating schemas
     * >
     * > Schema updates are not performed through this endpoint. Use the
     * > [Update Bulk Sync Schemas](../../../../api-reference/bulk-sync/schemas/patch)
     * > endpoint to change a subset of schemas, or
     * > [Update Bulk Sync Schema](../../../../api-reference/bulk-sync/schemas/update)
     * > to replace a single schema's configuration.
     *
     * @param {string} id - Unique identifier of the bulk sync to update.
     * @param {Polytomic.UpdateBulkSyncRequest} request
     * @param {BulkSyncClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.update("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         default_schedule: {
     *             frequency: "manual"
     *         },
     *         destination_configuration: {
     *             "schema": "my_schema"
     *         },
     *         destination_connection_id: "248df4b7-aa70-47b8-a036-33ac447e668d",
     *         name: "My Bulk Sync",
     *         source_connection_id: "248df4b7-aa70-47b8-a036-33ac447e668d"
     *     })
     */
    public update(
        id: string,
        request: Polytomic.UpdateBulkSyncRequest,
        requestOptions?: BulkSyncClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.BulkSyncResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__update(id, request, requestOptions));
    }

    private async __update(
        id: string,
        request: Polytomic.UpdateBulkSyncRequest,
        requestOptions?: BulkSyncClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.BulkSyncResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.BulkSyncResponseEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/api/bulk/syncs/{id}");
    }

    /**
     * Deletes a bulk sync, cancelling any running executions.
     *
     * Any execution that is currently running is cancelled before the sync record is
     * removed.
     *
     * > 🚧 All associated schedules, schema configurations, and execution history are
     * > deleted along with the sync.
     *
     * @param {string} id
     * @param {Polytomic.BulkSyncRemoveRequest} request
     * @param {BulkSyncClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.remove("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         refresh_schemas: true
     *     })
     */
    public remove(
        id: string,
        request: Polytomic.BulkSyncRemoveRequest = {},
        requestOptions?: BulkSyncClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__remove(id, request, requestOptions));
    }

    private async __remove(
        id: string,
        request: Polytomic.BulkSyncRemoveRequest = {},
        requestOptions?: BulkSyncClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { refresh_schemas: refreshSchemas } = request;
        const _queryParams: Record<string, unknown> = {
            refresh_schemas: refreshSchemas,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/bulk/syncs/{id}");
    }

    /**
     * Sets whether a bulk sync is active.
     *
     * Only active syncs are eligible to execute on their configured schedule.
     * Deactivating a sync prevents future scheduled runs and requests cancellation of
     * any execution that is currently in progress.
     *
     * > 📘 To start or stop a running execution directly, use
     * > [`POST /api/bulk/syncs/{id}/executions`](../../../../../api-reference/bulk-sync/start)
     * > or
     * > [`POST /api/bulk/syncs/{id}/cancel`](../../../../../api-reference/bulk-sync/cancel).
     *
     * @param {string} id
     * @param {Polytomic.ActivateSyncInput} request
     * @param {BulkSyncClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.activate("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         active: true
     *     })
     */
    public activate(
        id: string,
        request: Polytomic.ActivateSyncInput,
        requestOptions?: BulkSyncClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.ActivateSyncEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__activate(id, request, requestOptions));
    }

    private async __activate(
        id: string,
        request: Polytomic.ActivateSyncInput,
        requestOptions?: BulkSyncClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ActivateSyncEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}/activate`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.ActivateSyncEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/bulk/syncs/{id}/activate",
        );
    }

    /**
     * Requests cancellation of any running executions on a bulk sync.
     *
     * Cancellation is asynchronous. A successful response means the cancellation
     * signal has been queued; the running execution continues until the signal is
     * processed. Poll `GET /api/bulk/syncs/{id}/status` until the current execution
     * reaches a terminal state (`completed`, `canceled`, or `failed`) to confirm
     * cancellation has taken effect.
     *
     * @param {string} id - The active execution of this bulk sync ID will be cancelled.
     * @param {BulkSyncClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.cancel("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public cancel(
        id: string,
        requestOptions?: BulkSyncClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.CancelBulkSyncResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(id, requestOptions));
    }

    private async __cancel(
        id: string,
        requestOptions?: BulkSyncClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.CancelBulkSyncResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.CancelBulkSyncResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/bulk/syncs/{id}/cancel");
    }

    /**
     * Starts a new execution of a bulk sync.
     *
     * This endpoint returns the execution record immediately after the run is queued
     * or started. Use the execution ID with the bulk-sync execution endpoints if you
     * need to monitor progress in detail.
     *
     * ## Execution modes
     *
     * - Set `test=true` to validate the sync without writing to the destination.
     * - Use `resync_mode` for destructive or full-refresh style reruns.
     * - `test` and `resync_mode` are mutually exclusive.
     *
     * The legacy `resync` boolean is no longer accepted on this v5 endpoint. Send
     * `resync_mode` instead.
     *
     * If another execution is already running, the endpoint returns `409 Conflict`.
     *
     * @param {string} id - Unique identifier of the bulk sync.
     * @param {Polytomic.StartBulkSyncRequest} request
     * @param {BulkSyncClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ConflictError}
     *
     * @example
     *     await client.bulkSync.start("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public start(
        id: string,
        request: Polytomic.StartBulkSyncRequest = {},
        requestOptions?: BulkSyncClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.BulkSyncExecutionEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__start(id, request, requestOptions));
    }

    private async __start(
        id: string,
        request: Polytomic.StartBulkSyncRequest = {},
        requestOptions?: BulkSyncClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.BulkSyncExecutionEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}/executions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.BulkSyncExecutionEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Polytomic.ConflictError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/bulk/syncs/{id}/executions",
        );
    }

    /**
     * Returns the current status of a bulk sync.
     *
     * The response includes the sync's current active/inactive state together with
     * information about the most recent execution — its status, start time, and any
     * errors — making this endpoint well-suited for health checks and monitoring
     * dashboards.
     *
     * For the complete execution history, use
     * [`GET /api/bulk/syncs/{id}/executions`](../../../../../api-reference/bulk-sync/executions/list).
     * For the full details of a specific run, including per-schema breakdowns, use
     * [`GET /api/bulk/syncs/{id}/executions/{exec_id}`](../../../../../api-reference/bulk-sync/executions/get).
     *
     * @param {string} id - Unique identifier of the bulk sync.
     * @param {BulkSyncClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.getStatus("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public getStatus(
        id: string,
        requestOptions?: BulkSyncClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.BulkSyncStatusEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getStatus(id, requestOptions));
    }

    private async __getStatus(
        id: string,
        requestOptions?: BulkSyncClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.BulkSyncStatusEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}/status`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.BulkSyncStatusEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/bulk/syncs/{id}/status");
    }

    /**
     * Lists the schemas (tables or objects) available on a connection for use as a bulk sync source, optionally including per-schema field details.
     *
     * The response reflects what the
     * connection currently has cached; if the upstream source has changed, trigger
     * a refresh first with
     * [`POST /api/connections/{id}/schemas/refresh`](../../../../../api-reference/schemas/refresh).
     *
     * These are the schemas available for selection, not the schemas already
     * configured on any particular sync. To inspect schemas on a running sync, use
     * [`GET /api/bulk/syncs/{id}/schemas`](../../../../../api-reference/bulk-sync/schemas/list).
     *
     * Pass `include_fields=true` to receive per-schema field details in a single call.
     * Omit it when you only need the schema list, as field enumeration can be slow for
     * large sources.
     *
     * @param {string} id - Unique identifier of the connection.
     * @param {Polytomic.BulkSyncGetSourceRequest} request
     * @param {BulkSyncClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.getSource("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         include_fields: true
     *     })
     */
    public getSource(
        id: string,
        request: Polytomic.BulkSyncGetSourceRequest = {},
        requestOptions?: BulkSyncClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.BulkSyncSourceEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getSource(id, request, requestOptions));
    }

    private async __getSource(
        id: string,
        request: Polytomic.BulkSyncGetSourceRequest = {},
        requestOptions?: BulkSyncClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.BulkSyncSourceEnvelope>> {
        const { include_fields: includeFields } = request;
        const _queryParams: Record<string, unknown> = {
            include_fields: includeFields,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}/bulksync/source`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.BulkSyncSourceEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/connections/{id}/bulksync/source",
        );
    }

    /**
     * Describes the destination configuration schema a connection accepts when used as a bulk sync destination.
     *
     * The response is a JSON Schema object describing the shape of the
     * `destination_configuration` field you must supply when
     * [creating](../../../../../api-reference/bulk-sync/create) or
     * [updating](../../../../../api-reference/bulk-sync/update) a bulk sync that uses this
     * connection as its destination. Required fields vary by connection type.
     *
     * > 📘 Fetch this endpoint once per connection type rather than once per sync.
     * > The configuration schema is the same for all syncs sharing the same
     * > destination connection.
     *
     * @param {string} id
     * @param {BulkSyncClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.getDestination("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public getDestination(
        id: string,
        requestOptions?: BulkSyncClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.BulkSyncDestEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getDestination(id, requestOptions));
    }

    private async __getDestination(
        id: string,
        requestOptions?: BulkSyncClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.BulkSyncDestEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}/bulksync/target`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.BulkSyncDestEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/connections/{id}/bulksync/target",
        );
    }
}
