// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseIdempotentRequestOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as Polytomic from "../../../index";

export declare namespace RecordViewLinksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}

    export interface IdempotentRequestOptions extends RequestOptions, BaseIdempotentRequestOptions {}
}

export class RecordViewLinksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RecordViewLinksClient.Options>;

    constructor(options: RecordViewLinksClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a short-lived capability link for viewing one stored record snapshot.
     *
     * @param {Polytomic.CreateRecordViewLinkRequest} request
     * @param {RecordViewLinksClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.ConflictError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link Polytomic.ServiceUnavailableError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.recordViewLinks.create({
     *         connection_id: "248df4b7-aa70-47b8-a036-33ac447e668d",
     *         lookup_key_field: "lookup_key_field",
     *         lookup_key_value: "lookup_key_value",
     *         schema_id: "schema_id"
     *     })
     */
    public create(
        request: Polytomic.CreateRecordViewLinkRequest,
        requestOptions?: RecordViewLinksClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.CreateRecordViewLinkEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Polytomic.CreateRecordViewLinkRequest,
        requestOptions?: RecordViewLinksClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.CreateRecordViewLinkEnvelope>> {
        const {
            "X-Polytomic-Harbor-Session": polytomicHarborSession,
            "X-Polytomic-Activity-Request-ID": polytomicActivityRequestId,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Harbor-Session": polytomicHarborSession,
                "X-Polytomic-Activity-Request-ID": polytomicActivityRequestId,
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/record-view-links",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.CreateRecordViewLinkEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Polytomic.ConflictError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Polytomic.ServiceUnavailableError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/record-view-links");
    }

    /**
     * Checks whether record-view links can be created for a connection schema.
     *
     * @param {Polytomic.RecordViewLinksGetCapabilitiesRequest} request
     * @param {RecordViewLinksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.recordViewLinks.getCapabilities({
     *         connection_id: "248df4b7-aa70-47b8-a036-33ac447e668d",
     *         schema_id: "schema_id"
     *     })
     */
    public getCapabilities(
        request: Polytomic.RecordViewLinksGetCapabilitiesRequest,
        requestOptions?: RecordViewLinksClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.GetRecordViewCapabilitiesEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getCapabilities(request, requestOptions));
    }

    private async __getCapabilities(
        request: Polytomic.RecordViewLinksGetCapabilitiesRequest,
        requestOptions?: RecordViewLinksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.GetRecordViewCapabilitiesEnvelope>> {
        const {
            connection_id: connectionId,
            schema_id: schemaId,
            "X-Polytomic-Harbor-Session": polytomicHarborSession,
            "X-Polytomic-Activity-Request-ID": polytomicActivityRequestId,
        } = request;
        const _queryParams: Record<string, unknown> = {
            connection_id: connectionId,
            schema_id: schemaId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Harbor-Session": polytomicHarborSession,
                "X-Polytomic-Activity-Request-ID": polytomicActivityRequestId,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                "api/record-view-links/capabilities",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.GetRecordViewCapabilitiesEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/record-view-links/capabilities",
        );
    }
}
