// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseIdempotentRequestOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as Polytomic from "../../../index";

export declare namespace QueryRunnerClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}

    export interface IdempotentRequestOptions extends RequestOptions, BaseIdempotentRequestOptions {}
}

export class QueryRunnerClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<QueryRunnerClient.Options>;

    constructor(options: QueryRunnerClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Submits a query for asynchronous execution against the connection.
     *
     * This endpoint returns immediately with a query task ID. It does not wait for
     * the query to finish. Poll [`GET /api/queries/{id}`](../../../../api-reference/query-runner/get-query) until `status`
     * reaches `done`, `failed`, or `unknown`. These statuses are terminal.
     *
     * Only the user who created the query can fetch its results later. Query results
     * are stored temporarily and may expire; use the `expires` field from the result
     * endpoint to understand how long they will remain available.
     *
     * @param {string} connection_id - Unique identifier of the connection to run the query against.
     * @param {Polytomic.RunQueryRequest} request
     * @param {QueryRunnerClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.ConflictError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link Polytomic.ServiceUnavailableError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.queryRunner.runQuery("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         query: "SELECT * FROM table"
     *     })
     */
    public runQuery(
        connection_id: string,
        request: Polytomic.RunQueryRequest = {},
        requestOptions?: QueryRunnerClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.RunQueryEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__runQuery(connection_id, request, requestOptions));
    }

    private async __runQuery(
        connection_id: string,
        request: Polytomic.RunQueryRequest = {},
        requestOptions?: QueryRunnerClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.RunQueryEnvelope>> {
        const {
            query,
            "X-Polytomic-Harbor-Session": polytomicHarborSession,
            "X-Polytomic-Activity-Request-ID": polytomicActivityRequestId,
            ..._body
        } = request;
        const _queryParams: Record<string, unknown> = {
            query,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Harbor-Session": polytomicHarborSession,
                "X-Polytomic-Activity-Request-ID": polytomicActivityRequestId,
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(connection_id)}/query`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.RunQueryEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Polytomic.ConflictError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Polytomic.ServiceUnavailableError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/connections/{connection_id}/query",
        );
    }

    /**
     * Fetches the latest status for a submitted query and, once complete, returns fields and paginated results.
     *
     * This endpoint is the second step of the query-runner flow. First call
     * [`POST /api/connections/{connection_id}/query`](../../../api-reference/query-runner/run-query),
     * then poll this endpoint with the returned ID.
     *
     * Results may be paginated across multiple blobs. When that happens, use the
     * opaque `links.next` and `links.previous` URLs exactly as returned. Do not try to
     * construct the `page` token yourself.
     *
     * If the query is still running, the response may include only status metadata.
     * The terminal statuses are `done`, `failed`, and `unknown`. An `unknown` status
     * means execution started, but its durable terminal result was lost or expired.
     * Stop polling when you receive any terminal status.
     *
     * If the task is complete but the caller is not the same user that created it,
     * the endpoint returns `404`.
     *
     * @param {string} id - Unique identifier of the query task, as returned by POST /api/connections/{connection_id}/query.
     * @param {Polytomic.QueryRunnerGetQueryRequest} request
     * @param {QueryRunnerClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.ConflictError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link Polytomic.ServiceUnavailableError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.queryRunner.getQuery("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         page: "page"
     *     })
     */
    public getQuery(
        id: string,
        request: Polytomic.QueryRunnerGetQueryRequest = {},
        requestOptions?: QueryRunnerClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.QueryResultsEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getQuery(id, request, requestOptions));
    }

    private async __getQuery(
        id: string,
        request: Polytomic.QueryRunnerGetQueryRequest = {},
        requestOptions?: QueryRunnerClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.QueryResultsEnvelope>> {
        const {
            page,
            "X-Polytomic-Harbor-Session": polytomicHarborSession,
            "X-Polytomic-Activity-Request-ID": polytomicActivityRequestId,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Harbor-Session": polytomicHarborSession,
                "X-Polytomic-Activity-Request-ID": polytomicActivityRequestId,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/queries/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Polytomic.QueryResultsEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Polytomic.ConflictError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Polytomic.ServiceUnavailableError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/queries/{id}");
    }
}
