// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseIdempotentRequestOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as Polytomic from "../../../../../index";

export declare namespace ExecutionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}

    export interface IdempotentRequestOptions extends RequestOptions, BaseIdempotentRequestOptions {}
}

export class ExecutionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ExecutionsClient.Options>;

    constructor(options: ExecutionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists executions for a model sync.
     *
     * Results are ordered by start time descending. If more results are available, the
     * response includes `pagination.next_page_token`; pass that token back unchanged
     * to continue paging.
     *
     * The token is opaque. Do not construct or edit it yourself.
     *
     * For full details about a specific execution — including record counts and error
     * summaries — use
     * [`GET /api/syncs/{sync_id}/executions/{id}`](../../../../api-reference/model-sync/executions/get).
     *
     * @param {string} sync_id
     * @param {Polytomic.modelSync.ExecutionsListRequest} request
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.NotFoundError}
     *
     * @example
     *     await client.modelSync.executions.list("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         page_token: "AmkYh8v0jR5B3kls2Qcc9y8MjrPmvR4CvaK7H0F4rEwqvg76K==",
     *         only_completed: true,
     *         ascending: true
     *     })
     */
    public list(
        sync_id: string,
        request: Polytomic.modelSync.ExecutionsListRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ListExecutionResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__list(sync_id, request, requestOptions));
    }

    private async __list(
        sync_id: string,
        request: Polytomic.modelSync.ExecutionsListRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ListExecutionResponseEnvelope>> {
        const { page_token: pageToken, only_completed: onlyCompleted, ascending } = request;
        const _queryParams: Record<string, unknown> = {
            page_token: pageToken,
            only_completed: onlyCompleted,
            ascending,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/syncs/${core.url.encodePathParam(sync_id)}/executions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ListExecutionResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/syncs/{sync_id}/executions",
        );
    }

    /**
     * Returns a single model sync execution.
     *
     * For the log files produced by this execution, use
     * [`GET /api/syncs/{sync_id}/executions/{id}/{type}`](../../../../../api-reference/model-sync/executions/get-log-urls) to retrieve
     * signed URLs grouped by log category.
     *
     * @param {string} sync_id
     * @param {string} id
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.executions.get("248df4b7-aa70-47b8-a036-33ac447e668d", "248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public get(
        sync_id: string,
        id: string,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.GetExecutionResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__get(sync_id, id, requestOptions));
    }

    private async __get(
        sync_id: string,
        id: string,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.GetExecutionResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/syncs/${core.url.encodePathParam(sync_id)}/executions/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.GetExecutionResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/syncs/{sync_id}/executions/{id}",
        );
    }

    /**
     * Requests cancellation of a model sync execution.
     *
     * @param {string} sync_id
     * @param {string} id - The ID of the execution to cancel.
     * @param {ExecutionsClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.executions.cancel("248df4b7-aa70-47b8-a036-33ac447e668d", "248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public cancel(
        sync_id: string,
        id: string,
        requestOptions?: ExecutionsClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.CancelSyncExecutionResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(sync_id, id, requestOptions));
    }

    private async __cancel(
        sync_id: string,
        id: string,
        requestOptions?: ExecutionsClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.CancelSyncExecutionResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/syncs/${core.url.encodePathParam(sync_id)}/executions/${core.url.encodePathParam(id)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.CancelSyncExecutionResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/syncs/{sync_id}/executions/{id}/cancel",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Fetch the latest console log entries for a sync execution. Returns at most the most recent 50 entries retained in Redis.
     *
     * @param {string} sync_id
     * @param {string} id
     * @param {Polytomic.modelSync.ExecutionsGetConsoleLogsRequest} request
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.RequestTimeoutError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.executions.getConsoleLogs("248df4b7-aa70-47b8-a036-33ac447e668d", "0ecd09c1-b901-4d27-9053-f0367c427254", {
     *         limit: 50,
     *         after: "1744311099250-0"
     *     })
     */
    public getConsoleLogs(
        sync_id: string,
        id: string,
        request: Polytomic.modelSync.ExecutionsGetConsoleLogsRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ExecutionConsoleLogsResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getConsoleLogs(sync_id, id, request, requestOptions));
    }

    private async __getConsoleLogs(
        sync_id: string,
        id: string,
        request: Polytomic.modelSync.ExecutionsGetConsoleLogsRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ExecutionConsoleLogsResponseEnvelope>> {
        const { limit, after } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            after,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/syncs/${core.url.encodePathParam(sync_id)}/executions/${core.url.encodePathParam(id)}/consolelog`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ExecutionConsoleLogsResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 408:
                    throw new Polytomic.RequestTimeoutError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/syncs/{sync_id}/executions/{id}/consolelog",
        );
    }

    /**
     * Returns signed URLs for every log file of a given type on a model sync execution.
     *
     * `{type}` identifies the log category, such as `errors` or `warnings`. The
     * response contains a signed URL for each log file in that category.
     *
     * > 🚧 Signed URLs expire after a short period. If a URL has expired, re-request
     * > it from this endpoint. To fetch a single file's URL directly, use
     * > [`GET /api/syncs/{sync_id}/executions/{id}/{type}/{filename}`](../../../../../../api-reference/model-sync/executions/get-logs).
     *
     * @param {string} sync_id
     * @param {string} id
     * @param {Polytomic.ExecutionLogType} type
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.executions.getLogUrls("248df4b7-aa70-47b8-a036-33ac447e668d", "248df4b7-aa70-47b8-a036-33ac447e668d", "records")
     */
    public getLogUrls(
        sync_id: string,
        id: string,
        type: Polytomic.ExecutionLogType,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ExecutionLogsResponseEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getLogUrls(sync_id, id, type, requestOptions));
    }

    private async __getLogUrls(
        sync_id: string,
        id: string,
        type: Polytomic.ExecutionLogType,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ExecutionLogsResponseEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/syncs/${core.url.encodePathParam(sync_id)}/executions/${core.url.encodePathParam(id)}/${core.url.encodePathParam(type)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ExecutionLogsResponseEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/syncs/{sync_id}/executions/{id}/{type}",
        );
    }

    /**
     * Returns a signed URL for a specific log file produced by a model sync execution.
     *
     * The URL is signed and expires after a short period. If it has expired before
     * you download the file, call this endpoint again to obtain a fresh URL.
     *
     * @param {string} sync_id
     * @param {string} id
     * @param {Polytomic.ExecutionLogType} type
     * @param {string} filename
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.modelSync.executions.getLogs("248df4b7-aa70-47b8-a036-33ac447e668d", "0ecd09c1-b901-4d27-9053-f0367c427254", "records", "file.json")
     */
    public getLogs(
        sync_id: string,
        id: string,
        type: Polytomic.ExecutionLogType,
        filename: string,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__getLogs(sync_id, id, type, filename, requestOptions));
    }

    private async __getLogs(
        sync_id: string,
        id: string,
        type: Polytomic.ExecutionLogType,
        filename: string,
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/syncs/${core.url.encodePathParam(sync_id)}/executions/${core.url.encodePathParam(id)}/${core.url.encodePathParam(type)}/${core.url.encodePathParam(filename)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/syncs/{sync_id}/executions/{id}/{type}/{filename}",
        );
    }
}
