// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseIdempotentRequestOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as Polytomic from "../../../../../index";

export declare namespace ProxyClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}

    export interface IdempotentRequestOptions extends RequestOptions, BaseIdempotentRequestOptions {}
}

export class ProxyClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProxyClient.Options>;

    constructor(options: ProxyClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Proxies an HTTP request to a connection's underlying API using the connection's stored credentials, subject to per-connection rate limits and size caps.
     *
     * This endpoint is intended for controlled passthrough use, not as a general
     * replacement for Polytomic's modeled endpoints. The request is executed with the
     * connection's stored credentials and inherited base URL, headers, and query
     * parameters.
     *
     * Before building requests dynamically, call
     * [`GET /api/connections/{id}/proxy/info`](../../../../api-reference/connections/get-proxy-info)
     * to inspect the inherited base URL, blocked headers, accepted body types, and
     * size and rate limits.
     *
     * ## Important behavior
     *
     * - `request.path` must be relative and start with `/`.
     * - Use either `request.query` or `request.rawQuery`, not both.
     * - Caller-supplied headers are merged with inherited headers, but inherited auth
     *   headers cannot be overridden.
     * - The proxy strips a fixed set of request and response headers for safety.
     * - Response bodies larger than the configured maximum are truncated, and
     *   `truncated` is set to `true`.
     *
     * To run a `GET` request asynchronously, set `async` to `true`. The initial
     * response returns `status: 202`, `jobId`, `jobStatus`, and `jobUrl`. Poll
     * [`GET /api/jobs/{type}/{id}`](../../../../api-reference/jobs/get-job) with
     * `type=connectionproxy` and the returned `jobId` until the job is complete. The
     * completed job result includes the upstream `status`, sanitized `headers`,
     * `contentType`, `contentLength`, `latencyMs`, and a short-lived
     * `bodyDownloadUrl` for the upstream response body.
     *
     * The response includes `proxyCallId`, which you can use to correlate the call
     * with audit logs.
     *
     * @param {string} id - Unique identifier of the connection to proxy the request through.
     * @param {Polytomic.connections.ExecuteConnectionProxyRequest} request
     * @param {ProxyClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.TooManyRequestsError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link Polytomic.BadGatewayError}
     * @throws {@link Polytomic.GatewayTimeoutError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.proxy.executeProxy("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         request: {
     *             method: "GET",
     *             path: "/v1/objects"
     *         }
     *     })
     */
    public executeProxy(
        id: string,
        request: Polytomic.connections.ExecuteConnectionProxyRequest,
        requestOptions?: ProxyClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.ExecuteConnectionProxyEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__executeProxy(id, request, requestOptions));
    }

    private async __executeProxy(
        id: string,
        request: Polytomic.connections.ExecuteConnectionProxyRequest,
        requestOptions?: ProxyClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ExecuteConnectionProxyEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}/proxy`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ExecuteConnectionProxyEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Polytomic.TooManyRequestsError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 502:
                    throw new Polytomic.BadGatewayError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 504:
                    throw new Polytomic.GatewayTimeoutError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/connections/{id}/proxy");
    }

    /**
     * Returns the proxy contract for a connection.
     *
     * Use this endpoint before calling
     * [`POST /api/connections/{id}/proxy`](../../../../../api-reference/connections/execute-proxy)
     * when you need to build requests programmatically. The response shows:
     *
     * - the inherited base URL that all proxied requests are sent to
     * - locked headers and query parameters that are attached automatically
     * - blocked request and response headers
     * - allowed HTTP methods and body shapes
     * - timeout, rate-limit, and payload-size limits
     *
     * Sensitive inherited header and query values are redacted in the response. The
     * contract is still useful for discovering which keys are fixed by the
     * connection, even though their raw values are not exposed.
     *
     * @param {string} id - Unique identifier of the connection whose proxy contract should be returned.
     * @param {ProxyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.proxy.getProxyInfo("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public getProxyInfo(
        id: string,
        requestOptions?: ProxyClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.GetConnectionProxyInfoEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getProxyInfo(id, requestOptions));
    }

    private async __getProxyInfo(
        id: string,
        requestOptions?: ProxyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.GetConnectionProxyInfoEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}/proxy/info`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.GetConnectionProxyInfoEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/connections/{id}/proxy/info",
        );
    }

    /**
     * Returns whether a connection can be used through the Connection Proxy API.
     *
     * The setting is stored on the parent connection. When you request settings for a
     * shared connection, the response includes both the requested `connectionId` and the
     * `parentConnectionId` that controls proxy access. For non-shared connections,
     * `parentConnectionId` is omitted.
     *
     * @param {string} id - Unique identifier of the connection whose proxy settings should be returned.
     * @param {ProxyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.proxy.getProxySettings("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public getProxySettings(
        id: string,
        requestOptions?: ProxyClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.ConnectionProxySettingsEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__getProxySettings(id, requestOptions));
    }

    private async __getProxySettings(
        id: string,
        requestOptions?: ProxyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ConnectionProxySettingsEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}/proxy/settings`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ConnectionProxySettingsEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/connections/{id}/proxy/settings",
        );
    }

    /**
     * Enables or disables use of a connection through the Connection Proxy API.
     *
     * The setting is stored on the parent connection. To update proxy access for a
     * shared connection, the caller must have edit permission for the parent
     * connection.
     *
     * Enabling proxy access requires a backend that supports the Connection Proxy API.
     * If the connection backend is unsupported, the request returns `400 Bad Request`.
     * Disabling proxy access is allowed for any connection the caller can edit.
     *
     * Setting `enabled` to `false` prevents proxy calls for the connection.
     *
     * @param {string} id - Unique identifier of the connection whose proxy settings should be updated.
     * @param {Polytomic.connections.UpdateConnectionProxySettingsRequest} request
     * @param {ProxyClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.UnauthorizedError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     * @throws {@link errors.PolytomicError}
     * @throws {@link errors.PolytomicTimeoutError}
     *
     * @example
     *     await client.connections.proxy.updateProxySettings("248df4b7-aa70-47b8-a036-33ac447e668d", {
     *         enabled: true
     *     })
     */
    public updateProxySettings(
        id: string,
        request: Polytomic.connections.UpdateConnectionProxySettingsRequest,
        requestOptions?: ProxyClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.ConnectionProxySettingsEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__updateProxySettings(id, request, requestOptions));
    }

    private async __updateProxySettings(
        id: string,
        request: Polytomic.connections.UpdateConnectionProxySettingsRequest,
        requestOptions?: ProxyClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.ConnectionProxySettingsEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/connections/${core.url.encodePathParam(id)}/proxy/settings`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.ConnectionProxySettingsEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Polytomic.UnauthorizedError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/connections/{id}/proxy/settings",
        );
    }
}
