// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseIdempotentRequestOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as Polytomic from "../../../../../index";

export declare namespace ErrorHandlingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}

    export interface IdempotentRequestOptions extends RequestOptions, BaseIdempotentRequestOptions {}
}

export class ErrorHandlingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ErrorHandlingClient.Options>;

    constructor(options: ErrorHandlingClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the error handling settings for a bulk sync.
     *
     * @param {string} id - Unique identifier of the bulk sync.
     * @param {ErrorHandlingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.errorHandling.get("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public get(
        id: string,
        requestOptions?: ErrorHandlingClient.RequestOptions,
    ): core.HttpResponsePromise<Polytomic.BulkSyncErrorHandlingEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, requestOptions));
    }

    private async __get(
        id: string,
        requestOptions?: ErrorHandlingClient.RequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.BulkSyncErrorHandlingEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}/error-handling`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.BulkSyncErrorHandlingEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/bulk/syncs/{id}/error-handling",
        );
    }

    /**
     * Updates the error handling settings for a bulk sync.
     *
     * @param {string} id - Unique identifier of the bulk sync.
     * @param {Polytomic.bulkSync.UpdateBulkSyncErrorHandlingRequest} request
     * @param {ErrorHandlingClient.IdempotentRequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Polytomic.BadRequestError}
     * @throws {@link Polytomic.ForbiddenError}
     * @throws {@link Polytomic.NotFoundError}
     * @throws {@link Polytomic.InternalServerError}
     *
     * @example
     *     await client.bulkSync.errorHandling.update("248df4b7-aa70-47b8-a036-33ac447e668d")
     */
    public update(
        id: string,
        request: Polytomic.bulkSync.UpdateBulkSyncErrorHandlingRequest = {},
        requestOptions?: ErrorHandlingClient.IdempotentRequestOptions,
    ): core.HttpResponsePromise<Polytomic.BulkSyncErrorHandlingEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__update(id, request, requestOptions));
    }

    private async __update(
        id: string,
        request: Polytomic.bulkSync.UpdateBulkSyncErrorHandlingRequest = {},
        requestOptions?: ErrorHandlingClient.IdempotentRequestOptions,
    ): Promise<core.WithRawResponse<Polytomic.BulkSyncErrorHandlingEnvelope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": requestOptions?.idempotencyKey,
                "X-Polytomic-Version": requestOptions?.version ?? this._options?.version ?? "2025-09-18",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PolytomicEnvironment.Default,
                `api/bulk/syncs/${core.url.encodePathParam(id)}/error-handling`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Polytomic.BulkSyncErrorHandlingEnvelope,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Polytomic.BadRequestError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Polytomic.ForbiddenError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Polytomic.NotFoundError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Polytomic.InternalServerError(
                        _response.error.body as Polytomic.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PolytomicError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/bulk/syncs/{id}/error-handling",
        );
    }
}
